@font-face {
    font-family: 'ROKAFSlabSerifBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ROKAFSlabSerifMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.home-title {
  font-family: 'ROKAFSlabSerifBold';
  font-size: 3rem;
}

.more-btn {
  font-family: 'SUIT-Medium';
}

.v-btn__content {
  font-family: 'ROKAFSlabSerifMedium';
}
.prefer-tag {
  font-family: 'SUIT-Medium';
}

.user-name {
  font-family: 'SUIT-Medium';
}

.profile-page{
  font-family: 'SUIT-Medium';
}

.preference {
  font-family: 'ROKAFSlabSerifMedium';
}

.history {
  font-family: 'ROKAFSlabSerifMedium';
}

.login-btn {
  font-family: 'SUIT-Medium';
}

.signup-btn {
  font-family: 'SUIT-Medium';
}

.sub-heading {
  font-family: 'SUIT-Medium';
}

.recommend-title {
  font-family: 'ROKAFSlabSerifBold';
}

.review-result {
  font-family: 'SUIT-Medium';
}

.opacity-text {
  font-family: 'SUIT-Medium';
}

.review-title {
  font-family: 'ROKAFSlabSerifBold';
}

.review-content {
  font-family: 'SUIT-Medium';
}